Repository david3xu/mining_reliability_db: changes, and which pre-commit hooks are due for each by the changed paths.
All: interface-compliance, config-naming-consistency, architecture-compliance

.pre-commit-config.yaml:

# Pre-commit Hook Configuration for Mining Reliability Dashboard
# Ensures consistency standards are maintained across all commits

repos:
  # Code formatting and standards
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files

  # Python code quality
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        language_version: python3
        args: ["--line-length=100"]

  # Import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black", "--line-length=100"]

  # Custom consistency validation
  - repo: local
    hooks:
      - id: consistency-validation
        name: Configuration Consistency Validation
        entry: python scripts/validate_consistency.py
        language: system
        types: [python]
        pass_filenames: false
        always_run: true

      - id: interface-compliance
        name: Interface Compliance Check
        entry: python scripts/check_interface_compliance.py
        language: system
        files: ^dashboard/adapters/.*\.py$
        pass_filenames: false

      - id: config-naming-consistency
        name: Configuration Naming Consistency
        entry: python scripts/enforce_config_consistency.py
        language: system
        files: ^(dashboard/adapters/config_adapter\.py|configs/environment\.py)$
        pass_filenames: false

      - id: architecture-compliance
        name: Architecture Compliance Check
        entry: python dashboard/validation/architecture_validator.py
        language: system
        files: ^(mine_core/|dashboard/).*\.py$
        pass_filenames: false

# Configuration for specific tools
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

no verify
  mine_core/business/workflow_processor.py
  test_final_workflow_completion.py
Due: architecture-compliance

refactor: clean up project structure and improve merge records workflow
  configs/environment.py
  dashboard/app.py
  dashboard/components/__init__.py
  dashboard/components/data_quality.py
  dashboard/components/micro/table_base.py
  dashboard/components/portfolio_overview.py
  dashboard/components/stakeholder_questions.py
  dashboard/layouts/stakeholder_questions_layout.py
  dashboard/routing/navigation_builder.py
  dashboard/routing/url_manager.py
  direct_test.py
  docs/MERGE_PROJECT_COMPLETE.md
  final_verification.py
  implementation_status_report.py
  mine_core/business/intelligence_engine.py
  mine_core/business/workflow_processor.py
  mine_core/database/__init__.py
  quick_completion_test.py
  scripts/data_processing/merge_records.py
  scripts/setup/reset_db.py
  scripts/validate_consistency.py
  scripts/validate_dashboard_architecture.py
  test_consistency.py
  test_final_workflow_completion.py
  test_workflow_completion.py
  verify_fixes.py
Due: config-naming-consistency, architecture-compliance

refactor: clean up project structure and improve merge records workflow
  configs/environment.py
  dashboard/app.py
  dashboard/components/__init__.py
  dashboard/components/data_quality.py
  dashboard/components/micro/table_base.py
  dashboard/components/portfolio_overview.py
  dashboard/components/stakeholder_questions.py
  dashboard/layouts/stakeholder_questions_layout.py
  dashboard/routing/navigation_builder.py
  dashboard/routing/url_manager.py
  data/test_output/test_incremental_fab16f86.json
  direct_test.py
  docs/MERGE_PROJECT_COMPLETE.md
  final_verification.py
  implementation_status_report.py
  mine_core/business/intelligence_engine.py
  mine_core/business/workflow_processor.py
  mine_core/database/__init__.py
  quick_completion_test.py
  scripts/data_processing/merge_records.py
  scripts/setup/reset_db.py
  scripts/validate_consistency.py
  scripts/validate_dashboard_architecture.py
  test_consistency.py
  test_final_workflow_completion.py
  test_workflow_completion.py
  verify_fixes.py
Due: config-naming-consistency, architecture-compliance

Add presentation documentation for data science and stakeholder analysis
  docs/presentation/data-science-in-maintenance-records.md
  docs/presentation/what-data-can-tell-stakeholder.md
Due: none

essential questions
  configs/cypher_search_config.json
  configs/cypher_search_config_simple.json
  configs/environment.py
  configs/graph_search_config.json
  configs/queries/expert_departments.cypher
  configs/queries/proven_solutions.cypher
  configs/queries/repair_timelines.cypher
  configs/stakeholder_essential_queries.json
  configs/stakeholder_intelligence_config.json
  configs/stakeholder_questions_schema.json
  dashboard/adapters/config_adapter.py
  dashboard/adapters/data_adapter.py
  dashboard/app.py
  dashboard/callbacks/interaction_handlers.py
  dashboard/components/__init__.py
  dashboard/components/cypher_search.py
  dashboard/components/graph_search.py
  dashboard/components/stakeholder_essentials.py
  dashboard/components/stakeholder_questions.py
  dashboard/layouts/stakeholder_questions_layout.py
  dashboard/routing/navigation_builder.py
  dashboard/routing/url_manager.py
  docs/CONSISTENCY_IMPROVEMENTS_SUMMARY.md
  docs/MERGE_PROJECT_COMPLETE.md
  docs/README.md
  docs/REFACTORING_METHODOLOGY.md
  docs/config_consistency_analysis.md
  docs/field_mapping_duplication_analysis.md
  docs/implementation_guide.md
  docs/merge_process_documentation.md
  docs/presentation/queries.md
  docs/refactoring/directory-structure-diagram.md
  docs/refactoring/refactoring_methodology.md
  mine_core/business/intelligence_engine.py
  scripts/queries/README.md
  scripts/queries/priority_analysis.sh
  scripts/queries/query.sh
Due: interface-compliance, config-naming-consistency, architecture-compliance

fix timelines cypher error
  configs/queries/proven_solutions.cypher
  configs/queries/repair_timelines.cypher
  dashboard/adapters/data_adapter.py
  mine_core/database/query_manager.py
Due: interface-compliance, architecture-compliance

cypher search
  STAKEHOLDER_RESPONSE_REPORT.md
  configs/graph_search_config.json
  configs/queries/repair_timelines.cypher
  dashboard/adapters/data_adapter.py
  dashboard/components/graph_search.py
  docs/presentation/stakeholder_search_intelligence.md
  mine_core/business/intelligence_engine.py
  mine_core/business/intelligence_models.py
  mine_core/business/portfolio_intelligence.py
  mine_core/business/quality_intelligence.py
  mine_core/business/search_intelligence.py
  scripts/test_comprehensive_graph_search.py
  tests/analyze_stakeholder_response.py
  tests/test_comprehensive_implementation.py
  tests/test_json_quality.py
  tests/test_json_recording.py
  utils/__init__.py
  utils/json_recorder.py
Due: interface-compliance, architecture-compliance

cypher search
  STAKEHOLDER_RESPONSE_REPORT.md
  configs/graph_search_config.json
  configs/queries/repair_timelines.cypher
  dashboard/adapters/data_adapter.py
  dashboard/components/graph_search.py
  data/search_results/search_20250607_152831_A_leak_was_discovered.json
  docs/presentation/stakeholder_search_intelligence.md
  mine_core/business/intelligence_engine.py
  mine_core/business/intelligence_models.py
  mine_core/business/portfolio_intelligence.py
  mine_core/business/quality_intelligence.py
  mine_core/business/search_intelligence.py
  scripts/test_comprehensive_graph_search.py
  tests/analyze_stakeholder_response.py
  tests/test_comprehensive_implementation.py
  tests/test_json_quality.py
  tests/test_json_recording.py
  utils/__init__.py
  utils/json_recorder.py
Due: interface-compliance, architecture-compliance

remove search results
  data/search_results/search_20250607_152831_A_leak_was_discovered.json
Due: none

add output file
  configs/queries/effective_actions.cypher
  configs/queries/effective_actions_debug.cypher
  configs/stakeholder_essential_queries.json
  dashboard/adapters/data_adapter_json_export.py
  dashboard/app.py
  dashboard/callbacks/interaction_handlers.py
  dashboard/components/stakeholder_essentials.py
  data/search_results/search_20250607_164233_A_leak_was_discovered.json
  data/search_results/search_20250607_170042_excavator.json
  data/stakeholder_results/stakeholder_comprehensive_20250607_173403_pump_leak.json
  data/stakeholder_results/stakeholder_comprehensive_20250607_173427_pump_leak.json
  data/stakeholder_results/stakeholder_comprehensive_20250607_173444_rear_swing_motor.json
  data/stakeholder_results/stakeholder_what_works_and_why_20250607_172839_test_hydraulic.json
  data/stakeholder_results/stakeholder_what_works_and_why_20250607_172914_a_leak_was.json
  docs/presentation/stakeholder_concerns_summary.md
Due: interface-compliance, architecture-compliance

add output file
  configs/queries/effective_actions.cypher
  configs/queries/effective_actions_debug.cypher
  configs/stakeholder_essential_queries.json
  dashboard/adapters/data_adapter_json_export.py
  dashboard/app.py
  dashboard/callbacks/interaction_handlers.py
  dashboard/components/stakeholder_essentials.py
  docs/presentation/stakeholder_concerns_summary.md
Due: interface-compliance, architecture-compliance

update query to include action request number in output file
  config_consistency_report.txt
  configs/queries/effective_actions.cypher
  configs/queries/expert_departments.cypher
  configs/queries/proven_solutions.cypher
  configs/queries/repair_timelines.cypher
  dashboard/adapters/data_adapter.py
  dashboard/components/stakeholder_essentials.py
  interface_compliance_fixes.txt
  interface_compliance_report.txt
Due: interface-compliance, architecture-compliance

update query to include action request number in output file
  config_consistency_report.txt
  configs/queries/effective_actions.cypher
  configs/queries/expert_departments.cypher
  configs/queries/proven_solutions.cypher
  configs/queries/repair_timelines.cypher
  dashboard/adapters/data_adapter.py
  dashboard/components/stakeholder_essentials.py
  data/facility_data/fab16f86-faa9-44d9-b9d7-cfbbb47061da.json
  data/facility_data/mining_maintenance_nested.json
  data/facility_data/sample_5_fab16f86-faa9-44d9-b9d7-cfbbb47061da.json
  data/facility_data/test_incremental_fab16f86.json
  data/inter_data/sample_5_fab16f86-faa9-44d9-b9d7-cfbbb47061da.json
  data/inter_data/test_incremental_fab16f86.json
  data/merge_report.json
  data/search_results/search_20250607_164233_A_leak_was_discovered.json
  data/search_results/search_20250607_170042_excavator.json
  data/stakeholder_results/stakeholder_comprehensive_20250607_173403_pump_leak.json
  data/stakeholder_results/stakeholder_comprehensive_20250607_173427_pump_leak.json
  data/stakeholder_results/stakeholder_comprehensive_20250607_173444_rear_swing_motor.json
  data/stakeholder_results/stakeholder_what_works_and_why_20250607_172839_test_hydraulic.json
  data/stakeholder_results/stakeholder_what_works_and_why_20250607_172914_a_leak_was.json
  data/test_output/test_incremental_fab16f86.json
  interface_compliance_fixes.txt
  interface_compliance_report.txt
Due: interface-compliance, architecture-compliance

fix the year coverage error
  mine_core/business/portfolio_intelligence.py
  mine_core/database/query_manager.py
Due: architecture-compliance

update case study question search
  configs/queries/diagnostic_experts.cypher
  configs/queries/investigation_approaches.cypher
  configs/queries/potential_root_causes.cypher
  configs/queries/prioritized_investigation_steps.cypher
  configs/stakeholder_essential_queries.json
  configs/symptom_classification_config.json
  dashboard/adapters/config_adapter.py
  dashboard/adapters/data_adapter.py
  dashboard/adapters/data_adapter_json_export.py
  dashboard/callbacks/interaction_handlers.py
  dashboard/components/stakeholder_essentials.py
  tests/STAKEHOLDER_RESPONSE_REPORT.md
  tests/check_na_values.py
  tests/comprehensive_validation.py
  tests/debug_database_fields.py
  tests/debug_grouping_issue.py
  tests/final_production_validation.py
  tests/final_validation_report.py
  tests/simple_debug.py
  tests/simple_test.py
  tests/test_complete_fix.py
  tests/test_end_to_end.py
  tests/test_field_mapping_fix.py
  tests/test_filter_fix.py
  tests/test_final_fix.py
  tests/test_grouping_query.py
  tests/test_incident_root_cause.py
  tests/test_query_fields.py
  tests/test_updated_query.py
  tests/test_updated_query_final.py
  tests/validation_test.py
Due: interface-compliance, config-naming-consistency, architecture-compliance

incident search
  STAKEHOLDER_JOURNEY_IMPLEMENTATION_COMPLETE.md
  configs/maintenance_records_config.json
  configs/queries/effective_actions.cypher
  configs/queries/expert_departments.cypher
  configs/queries/how_do_i_figure_out_whats_wrong.cypher
  configs/queries/how_do_i_fix_it.cypher
  configs/queries/potential_root_causes.cypher
  configs/queries/prioritized_investigation_steps.cypher
  configs/queries/proven_solutions.cypher
  configs/queries/repair_timelines.cypher
  configs/queries/what_should_i_check_first.cypher
  configs/queries/who_can_help_me.cypher
  configs/queries/why_did_this_happen.cypher
  configs/stakeholder_essential_queries.json
  configs/symptom_classification_config.json
  dashboard/adapters/data_adapter.py
  dashboard/app.py
  dashboard/callbacks/interaction_handlers.py
  dashboard/components/stakeholder_essentials.py
  debug_solutions_table.py
  demo_enhanced_stakeholder_journey.py
  demo_stakeholder_journey.py
  docs/presentation/slides/historical_intelligence_demo_workflow.html
  docs/presentation/slides/powerpoint_workflow_demo.html
  docs/presentation/slides/real_data_radial_chart.html
  docs/presentation/slides/stakeholder_report_5_evaluation.md
  docs/presentation/stakeholder_report_template.md
  final_validation_action_request_facility.py
  test_complete_stakeholder_journey.py
  test_stakeholder_tables_complete.py
  tests/test_five_query_stakeholder_journey.py
Due: interface-compliance, architecture-compliance

incident search
  STAKEHOLDER_JOURNEY_IMPLEMENTATION_COMPLETE.md
  configs/maintenance_records_config.json
  configs/queries/effective_actions.cypher
  configs/queries/expert_departments.cypher
  configs/queries/how_do_i_figure_out_whats_wrong.cypher
  configs/queries/how_do_i_fix_it.cypher
  configs/queries/potential_root_causes.cypher
  configs/queries/prioritized_investigation_steps.cypher
  configs/queries/proven_solutions.cypher
  configs/queries/repair_timelines.cypher
  configs/queries/what_should_i_check_first.cypher
  configs/queries/who_can_help_me.cypher
  configs/queries/why_did_this_happen.cypher
  configs/stakeholder_essential_queries.json
  configs/symptom_classification_config.json
  dashboard/adapters/data_adapter.py
  dashboard/app.py
  dashboard/callbacks/interaction_handlers.py
  dashboard/components/stakeholder_essentials.py
  data/search_results/search_20250609_072442_A_leak_was_discovered.json
  data/stakeholder_results/stakeholder_comprehensive_20250608_121326_rear_swing_motor.json
  debug_solutions_table.py
  demo_enhanced_stakeholder_journey.py
  demo_stakeholder_journey.py
  docs/presentation/slides/historical_intelligence_demo_workflow.html
  docs/presentation/slides/powerpoint_workflow_demo.html
  docs/presentation/slides/real_data_radial_chart.html
  docs/presentation/slides/stakeholder_report_5_evaluation.md
  docs/presentation/stakeholder_report_template.md
  final_validation_action_request_facility.py
  test_complete_stakeholder_journey.py
  test_stakeholder_tables_complete.py
  tests/test_five_query_stakeholder_journey.py
Due: interface-compliance, architecture-compliance

update merge_records for correct output order
  .gitignore
  scripts/data_processing/merge_records.py
Due: none

update merge_records for correct output order
  .gitignore
  data/excel_output/.keep
  data/facility_data/.keep
  data/inter_data/.keep
  data/raw_data/.keep
  data/search_results/.keep
  data/stakeholder_results/.keep
  data/test_output/.keep
  scripts/data_processing/merge_records.py
Due: none

remove test
  dashboard/adapters/data_adapter.py
  dashboard/adapters/workflow_adapter.py
  dashboard/utils/data_transformers.py
  debug_solutions_table.py
  demo_enhanced_stakeholder_journey.py
  demo_stakeholder_journey.py
  docs/STAKEHOLDER_JOURNEY_IMPLEMENTATION_COMPLETE.md
  final_validation_action_request_facility.py
  scripts/data_processing/combine_facilities.py
  test_complete_stakeholder_journey.py
  test_stakeholder_tables_complete.py
  tests/STAKEHOLDER_RESPONSE_REPORT.md
  tests/analyze_stakeholder_response.py
  tests/check_na_values.py
  tests/comprehensive_validation.py
  tests/conftest.py
  tests/debug_database_fields.py
  tests/debug_grouping_issue.py
  tests/final_production_validation.py
  tests/final_validation_report.py
  tests/simple_debug.py
  tests/simple_test.py
  tests/test_complete_fix.py
  tests/test_comprehensive_implementation.py
  tests/test_end_to_end.py
  tests/test_field_mapping_fix.py
  tests/test_field_processing.py
  tests/test_filter_fix.py
  tests/test_final_fix.py
  tests/test_five_query_stakeholder_journey.py
  tests/test_grouping_query.py
  tests/test_incident_root_cause.py
  tests/test_json_quality.py
  tests/test_json_recording.py
  tests/test_pipelines.py
  tests/test_query_fields.py
  tests/test_search_callbacks.py
  tests/test_updated_query.py
  tests/test_updated_query_final.py
  tests/validation_test.py
Due: interface-compliance, architecture-compliance

path issue
  dashboard/adapters/data_adapter.py
  dashboard/utils/data_transformers.py
  mine_core/utils/constants.py
Due: interface-compliance, architecture-compliance

add devcontainer
  .devcontainer/devcontainer.json
  dashboard/app.py
  dashboard/callbacks/interaction_handlers.py
  docs/41_FIELD_DATASET_ANALYSIS.md
  docs/design/field-list-complete.md
  docs/design/sql-schema-complete.md
  docs/design/sql-schema-merged.sql
  docs/presentation/slides/stakeholder_demo_slide-v1.html
  docs/presentation/slides/stakeholder_demo_slide-v5.html
Due: architecture-compliance

add devcontainer precommit
  config_consistency_report.txt
  dashboard/callbacks/interaction_handlers.py
  docs/design/sql-schema-merged.sql
  docs/presentation/slides/stakeholder_demo_slide-v1.html
  docs/presentation/slides/stakeholder_demo_slide-v5.html
  interface_compliance_fixes.txt
  interface_compliance_report.txt
Due: architecture-compliance

update dev container
  .devcontainer/devcontainer.json
Due: none

fix pre-commit validation: lower architecture threshold and add devcontainer fix
  scripts/validate_consistency.py
Due: none

ground truth questions
  README.md
  docs/ground-truth-questions/comprehensive-dimensional-analysis.md
  docs/ground-truth-questions/dimensional-question-framework.md
  docs/ground-truth-questions/dimensions-table.md
  docs/ground-truth-questions/question-generation-config.json
  docs/ground-truth-questions/question-templates-by-level.md
  docs/ground-truth-questions/raw-data-dimensional-analysis.md
  docs/ground-truth-questions/stakeholder-focused-questions.md
  docs/ground-truth-questions/using-queries.md
Due: none

stakeholder insight ground truth
  docs/ground-truth-questions/stakeholder-focused-questions.md
Due: none
