Repository david3xu/mining_reliability_db: changes, and which pre-commit hooks are due for each by the changed paths.
All: interface-compliance, config-naming-consistency, architecture-compliance

interface-compliance:
  name: Interface Compliance Check
  entry: python scripts/check_interface_compliance.py
  language: system
  pass_filenames: false

config-naming-consistency:
  name: Configuration Naming Consistency
  entry: python scripts/enforce_config_consistency.py
  language: system
  pass_filenames: false

architecture-compliance:
  name: Architecture Compliance Check
  entry: python dashboard/validation/architecture_validator.py
  language: system
  pass_filenames: false

feat: architecture refactoring - bypass compliance for schema alignment
  mine_core/shared/__init__.py
Due: architecture-compliance

Refactor: Continue addressing architectural consistency issues and code cleanup.
  Makefile
  configs/dashboard_config.json
  configs/environment.py
  dashboard/adapters/__init__.py
  dashboard/adapters/config_adapter.py
  dashboard/adapters/data_adapter.py
  dashboard/adapters/facility_adapter.py
  dashboard/adapters/workflow_adapter.py
  dashboard/callbacks/__init__.py
  dashboard/components/__init__.py
  dashboard/components/data_quality.py
  dashboard/components/facility_detail.py
  dashboard/components/graph_visualizer.py
  dashboard/components/interactive_elements.py
  dashboard/components/layout_template.py
  dashboard/components/portfolio_overview.py
  dashboard/components/tab_navigation.py
  dashboard/components/workflow_analysis.py
  dashboard/routing/__init__.py
  dashboard/utils/__init__.py
  dashboard/utils/data_transformers.py
  dashboard/utils/style_constants.py
  dashboard/utils/url_builders.py
  dashboard/validation/architecture_validator.py
  interface_compliance_fixes.txt
  interface_compliance_report.txt
  mine_core/analytics/__init__.py
  mine_core/business/__init__.py
  mine_core/business/intelligence_engine.py
  mine_core/database/__init__.py
  mine_core/entities/__init__.py
  mine_core/entities/definitions.py
  mine_core/helpers/__init__.py
  mine_core/pipelines/__init__.py
  mine_core/pipelines/extractor.py
  mine_core/shared/field_resolver.py
  mine_core/shared/field_utils.py
  scripts/setup/import_data.py
Due: interface-compliance, config-naming-consistency, architecture-compliance

Fix: Resolve remaining ImportError issues in __init__.py files and reset_db.py import paths.
  mine_core/analytics/__init__.py
  mine_core/database/__init__.py
  scripts/setup/reset_db.py
Due: architecture-compliance

Fix: Further resolve import errors in mine_core/database/__init__.py and scripts/setup/reset_db.py.
  mine_core/database/__init__.py
  scripts/setup/reset_db.py
Due: architecture-compliance

Skipping black formatting error to push local changes
  assets/custom_styles.css
  configs/dashboard_charts.json
  configs/dashboard_config.json
  configs/environment.py
  configs/field_category_display_mapping.json
  dashboard/adapters/__init__.py
  dashboard/adapters/config_adapter.py
  dashboard/adapters/data_adapter.py
  dashboard/adapters/facility_adapter.py
  dashboard/adapters/interfaces.py
  dashboard/adapters/workflow_adapter.py
  dashboard/app.py
  dashboard/components/data_quality.py
  dashboard/components/facility_detail.py
  dashboard/components/graph_visualizer.py
  dashboard/components/layout_template.py
  dashboard/components/micro/chart_base.py
  dashboard/components/micro/metric_card.py
  dashboard/components/micro/table_base.py
  dashboard/components/portfolio_overview.py
  dashboard/components/workflow_analysis.py
  dashboard/routing/__init__.py
  dashboard/routing/navigation_builder.py
  dashboard/utils/data_transformers.py
  dashboard/utils/styling.py
  mine_core/__init__.py
  mine_core/analytics/__init__.py
  mine_core/analytics/quality_analyzer.py
  mine_core/business/__init__.py
  mine_core/business/intelligence_engine.py
  mine_core/database/query_manager.py
  mine_core/pipelines/__init__.py
  scripts/setup/import_data.py
Due: interface-compliance, config-naming-consistency, architecture-compliance

Final local changes pushed
  dashboard/components/facility_detail.py
Due: architecture-compliance

feat: Architecture refactoring with dashboard improvements
  configs/dashboard_charts.json
  configs/dashboard_config.json
  configs/dashboard_styling.json
  configs/entity_classification.json
  configs/entity_connections.json
  configs/field_analysis.json
  configs/field_mappings.json
  configs/model_schema.json
  configs/system_constants.json
  configs/workflow_stages.json
  dashboard/adapters/config_adapter.py
  dashboard/adapters/data_adapter.py
  dashboard/adapters/workflow_adapter.py
  dashboard/app.py
  dashboard/assets/custom_styles.css
  dashboard/components/__init__.py
  dashboard/components/data_quality.py
  dashboard/components/micro/facility_card.py
  dashboard/components/micro/workflow_stage.py
  dashboard/components/portfolio_overview.py
  dashboard/components/workflow_analysis.py
  dashboard/routing/navigation_builder.py
  dashboard/routing/url_manager.py
  dashboard_validation_results.json
  data/facility_data/fab16f86-faa9-44d9-b9d7-cfbbb47061da.json
  data/facility_data/mining_maintenance_nested.json
  data/facility_data/sample_5_fab16f86-faa9-44d9-b9d7-cfbbb47061da.json
  data/facility_data/test_incremental_fab16f86.json
  mine_core/business/intelligence_engine.py
  mine_core/business/workflow_processor.py
  mine_core/database/db.py
  mine_core/database/queries.py
  mine_core/database/query_manager.py
  mine_core/pipelines/transformer.py
  mine_core/shared/field_utils.py
  mine_core/shared/schema_type_converter.py
  scripts/data_processing/preprocess_data.py
  scripts/validate_phase1_core_foundation.py
  tests/test_field_processing.py
  tests/test_pipelines.py
Due: interface-compliance, config-naming-consistency, architecture-compliance

feat: Architecture refactoring with dashboard improvements
  configs/dashboard_charts.json
  configs/dashboard_config.json
  configs/dashboard_styling.json
  configs/entity_classification.json
  configs/entity_connections.json
  configs/field_analysis.json
  configs/field_mappings.json
  configs/model_schema.json
  configs/system_constants.json
  configs/workflow_stages.json
  dashboard/adapters/config_adapter.py
  dashboard/adapters/data_adapter.py
  dashboard/adapters/workflow_adapter.py
  dashboard/app.py
  dashboard/assets/custom_styles.css
  dashboard/components/__init__.py
  dashboard/components/data_quality.py
  dashboard/components/micro/facility_card.py
  dashboard/components/micro/workflow_stage.py
  dashboard/components/portfolio_overview.py
  dashboard/components/workflow_analysis.py
  dashboard/routing/navigation_builder.py
  dashboard/routing/url_manager.py
  dashboard_validation_results.json
  mine_core/business/intelligence_engine.py
  mine_core/business/workflow_processor.py
  mine_core/database/db.py
  mine_core/database/queries.py
  mine_core/database/query_manager.py
  mine_core/pipelines/transformer.py
  mine_core/shared/field_utils.py
  mine_core/shared/schema_type_converter.py
  scripts/data_processing/preprocess_data.py
  scripts/validate_phase1_core_foundation.py
  tests/test_field_processing.py
  tests/test_pipelines.py
Due: interface-compliance, config-naming-consistency, architecture-compliance

cypher search works - investigating architecture compliance
  dashboard/adapters/config_adapter.py
  dashboard/adapters/data_adapter.py
  dashboard/app.py
  dashboard/callbacks/__init__.py
  dashboard/callbacks/interaction_handlers.py
  dashboard/components/__init__.py
  dashboard/components/data_quality.py
  dashboard/components/incident_search.py
  dashboard/routing/navigation_builder.py
  dashboard/routing/url_manager.py
  dashboard_validation_results.json
  docs/presentation/overview.md
  mine_core/business/intelligence_engine.py
  mine_core/database/query_manager.py
  test_search_callbacks.py
Due: interface-compliance, config-naming-consistency, architecture-compliance

update data-quality
  README.md
  dashboard/components/data_quality.py
  dashboard_validation_results.json
Due: architecture-compliance

organize doc files
  config_consistency_report.txt
  dashboard_validation_results.json
  docs/CONSISTENCY_IMPROVEMENTS_SUMMARY.md
  docs/REFACTORING_METHODOLOGY.md
  interface_compliance_fixes.txt
  interface_compliance_report.txt
  tests/test_search_callbacks.py
  unused_functions_report.txt
Due: none

fix search issues
  dashboard/adapters/data_adapter.py
  dashboard/app.py
  dashboard/callbacks/interaction_handlers.py
  dashboard/components/incident_search.py
  dashboard/components/micro/table_base.py
  mine_core/business/intelligence_engine.py
  mine_core/database/query_manager.py
  scripts/data_processing/preprocess_data.py
Due: interface-compliance, architecture-compliance

fix cypher search issues
  config_consistency_report.txt
  dashboard/adapters/data_adapter.py
  dashboard/components/incident_search.py
  dashboard/components/micro/table_base.py
  interface_compliance_fixes.txt
  interface_compliance_report.txt
  mine_core/database/query_manager.py
  scripts/data_processing/preprocess_data.py
Due: interface-compliance, architecture-compliance

Implement solution sequence case study with multiple sequences and dynamic titles
  Makefile
  configs/case_study_schema.json
  configs/environment.py
  dashboard/adapters/data_adapter.py
  dashboard/app.py
  dashboard/components/__init__.py
  dashboard/components/solution_sequence_case_study.py
  dashboard/routing/navigation_builder.py
  dashboard/routing/url_manager.py
  dashboard/utils/styling.py
  mine_core/business/intelligence_engine.py
  mine_core/database/query_manager.py
  scripts/data_processing/preprocess_data.py
Due: interface-compliance, config-naming-consistency, architecture-compliance

fix architecture compliance violations: remove direct config and core imports
  dashboard/adapters/config_adapter.py
  dashboard/adapters/data_adapter.py
  dashboard/components/incident_search.py
  dashboard/components/solution_sequence_case_study.py
  dashboard_validation_results.json
  mine_core/database/query_manager.py
Due: interface-compliance, config-naming-consistency, architecture-compliance

docs: add architecture compliance note to data adapter
  dashboard/adapters/data_adapter.py
  dashboard_validation_results.json
Due: interface-compliance, architecture-compliance

dark mode
  .gitignore
  MERGE_PROJECT_COMPLETE.md
  configs/dashboard_charts.json
  configs/dashboard_config.json
  configs/dashboard_styling.json
  dashboard/components/data_quality.py
  dashboard/components/facility_detail.py
  dashboard/components/graph_visualizer.py
  dashboard/components/incident_search.py
  dashboard/components/interactive_elements.py
  dashboard/components/layout_template.py
  dashboard/components/micro/chart_base.py
  dashboard/components/micro/facility_card.py
  dashboard/components/micro/metric_card.py
  dashboard/components/micro/table_base.py
  dashboard/components/micro/workflow_stage.py
  dashboard/components/portfolio_overview.py
  dashboard/components/solution_sequence_case_study.py
  dashboard/components/tab_navigation.py
  dashboard/components/workflow_analysis.py
  dashboard_validation_results.json
  docs/README.md
  docs/merge_process_documentation.md
  scripts/data_processing/comprehensive_dataset_analyzer.py
  scripts/data_processing/demo_merge_process.py
  scripts/data_processing/merge_records.py
  scripts/data_processing/merge_records.py.bak
  scripts/data_processing/preprocess_data.py
  scripts/data_processing/test_merge_records.py
  scripts/data_processing/validate_merge.py
Due: architecture-compliance

dark mode
  .gitignore
  MERGE_PROJECT_COMPLETE.md
  configs/dashboard_charts.json
  configs/dashboard_config.json
  configs/dashboard_styling.json
  dashboard/components/data_quality.py
  dashboard/components/facility_detail.py
  dashboard/components/graph_visualizer.py
  dashboard/components/incident_search.py
  dashboard/components/interactive_elements.py
  dashboard/components/layout_template.py
  dashboard/components/micro/chart_base.py
  dashboard/components/micro/facility_card.py
  dashboard/components/micro/metric_card.py
  dashboard/components/micro/table_base.py
  dashboard/components/micro/workflow_stage.py
  dashboard/components/portfolio_overview.py
  dashboard/components/solution_sequence_case_study.py
  dashboard/components/tab_navigation.py
  dashboard/components/workflow_analysis.py
  dashboard_validation_results.json
  data/facility_data/fab16f86-faa9-44d9-b9d7-cfbbb47061da.json
  data/facility_data/mining_maintenance_nested.json
  data/inter_data/sample_5_fab16f86-faa9-44d9-b9d7-cfbbb47061da.json
  data/inter_data/test_incremental_fab16f86.json
  data/merge_report.json
  docs/README.md
  docs/merge_process_documentation.md
  scripts/data_processing/comprehensive_dataset_analyzer.py
  scripts/data_processing/demo_merge_process.py
  scripts/data_processing/merge_records.py
  scripts/data_processing/merge_records.py.bak
  scripts/data_processing/preprocess_data.py
  scripts/data_processing/test_merge_records.py
  scripts/data_processing/validate_merge.py
Due: architecture-compliance

correct year coverage
  configs/dashboard_styling.json
  dashboard/adapters/data_adapter.py
  dashboard/assets/custom_styles.css
  dashboard/components/data_quality.py
  dashboard/components/micro/chart_base.py
  dashboard/components/micro/table_base.py
  dashboard/components/portfolio_overview.py
  mine_core/business/intelligence_engine.py
Due: interface-compliance, architecture-compliance

improve visualization
  configs/dashboard_styling.json
  dashboard/components/data_quality.py
  dashboard/components/interactive_elements.py
  dashboard/utils/styling.py
  mine_core/business/workflow_processor.py
  requirements.txt
  scripts/data_processing/export_to_excel.py
  scripts/data_processing/merge_records.py
Due: architecture-compliance

no verify
  dashboard/components/data_quality.py
  mine_core/business/workflow_processor.py
  scripts/data_processing/export_to_excel.py
Due: architecture-compliance

update the stage completeness
  configs/environment.py
  configs/stakeholder_questions_schema.json
  dashboard/adapters/config_adapter.py
  dashboard/app.py
  dashboard/components/__init__.py
  dashboard/components/data_quality.py
  dashboard/components/micro/workflow_stage.py
  dashboard/components/stakeholder_questions.py
  dashboard/layouts/stakeholder_questions_layout.py
  dashboard/routing/navigation_builder.py
  dashboard/routing/url_manager.py
  direct_test.py
  final_verification.py
  implementation_status_report.py
  mine_core/business/workflow_processor.py
  quick_completion_test.py
  test_consistency.py
  test_final_workflow_completion.py
  test_workflow_completion.py
  verify_fixes.py
Due: interface-compliance, config-naming-consistency, architecture-compliance

Path conditions:
  interface-compliance: any of: ^dashboard/adapters/.*\.py$
  config-naming-consistency: any of: ^(dashboard/adapters/config_adapter\.py|configs/environment\.py)$
  architecture-compliance: any of: ^(mine_core/|dashboard/).*\.py$
